* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  border-style: solid;
  border-color: red;
  border-width: 1px;
}

.popular-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 400px;

  justify-items: center;
  align-items: center;
}

.popular-item {
  overflow: hidden; /* Important to hide any overflow if using 'cover' */
}

img {
  width: auto;
  height: min(100%, 300px);
}