:root {
  --font-heading-size: 2rem;
  --font-sub-heading-size: 1.5rem;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: center;

  font-family: "Raleway", sans-serif;

  /* border-style: solid;
  border-color: red;
  border-width: 1px; */
}

body {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  margin-top: 20px;
  margin-bottom: 20px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  width: 100%;
}

.title {
  font-size: var(--font-heading-size);
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 5px;
}

/* ==================== HOMEPAGE ==================== */


.slogan {
  font-size: var(--font-sub-heading-size);
  font-style: italic;
}

.popular-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.popular-item {
  padding: 20px;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 25px;
}


.sub-title {
  font-size: var(--font-sub-heading-size);
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 5px;
}

img {
  width: min(100%, 400px);
  height: auto;
}

ol {
  list-style-type: none;
}

button {
  font-size: 1rem;
  padding: 10px 20px 10px 20px;

  border-width: 2px;
  border-style: solid;
  border-color: black;
}

header > nav {
  display: flex;
  gap: 20px;
}

button:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* ==================== MENU ==================== */
.menu {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5px;
  /* box-shadow: 0px 0px 1px #888888;
  border-width: 1px; */
}

.menu-item > .price {
  margin-top: auto;
  align-self: end;
  background-color: black;
  color: white;
  padding: 5px 10px 5px 10px;
}

.menu-item > img {
  margin-top: auto;
}

/* ==================== CONTACT ==================== */

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.contact-card {
  width: min(300px, 100%);
  padding: 20px;
  box-shadow: 0px 0px 10px lightgray;
  border-radius: 25px;
}

.contact-card > img {
  width: 50px;
  height: auto;
}

.contact-title {
  font-size: var(--font-sub-heading-size);
}